@use "../../App.scss";

.featured-section {
    @include App.dark-theme-alt;
    display: flex;
    flex-direction: column;
    align-items: center;

    #light & {
        @include App.light-theme-alt;
    }

}
.thumbnails-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2rem;
    max-width: 1200px;
}
.btn-container {
    align-self: center;
    margin: 4rem;
}