
.hero-section {
    height: 100vh;
    display: flex;
    align-items: center;

    .hero-heading {
        font-size: clamp(3rem, 10vw, 6rem);
        margin-bottom: 0rem;
    }
    .cta-container {
        margin-top: 2rem;
        .btn-primary{
            margin-right: 1rem;
        }
    }
}