#navbar {
  background-color: var(--dark-bg);
  position: sticky;
  top: 0;
  transition: top 0.3s ease-in-out;
  display: flex;
  z-index: 999;
}

#light {
  #navbar {
    background-color: var(--light-bg);
  }
  .nav-link {
    color: black;
  }
}

#dark {
  .nav-link {
    color: white;
  }
}

