
#navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    transition: top 0.3s ease-in-out;
  

      
    .nav-menu {
        display: flex;
        gap: 1rem;

    }
}


#light {
 .nav-link {
        color: black;
    }
}

#dark {
    .nav-link {
        color: white;
    }

} 

