#navbar {
  background-color: var(--dark-bg);
  position: sticky;
  top: 0;
  transition: top 0.3s ease-in-out;

  .navbar-container {
    width: 100%;
    display: flex;
    padding: 0.5rem 2rem;
    justify-content: space-between;
    align-items: center;
  }

  .nav-menu {
    display: flex;
    gap: 1rem;
  }
}

#light {
  #navbar {
    background-color: var(--light-bg);
  }
  .nav-link {
    color: black;
  }
}

#dark {
  .nav-link {
    color: white;
  }
}
