



/* ==== STYLE RESET ==== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
text-decoration: none;
  list-style: none;
}
*:disabled {
background-color: grey;
}
html {
  font-size: 16px;
  scroll-behavior: smooth;
  height: 100%;
  overflow: hidden;
}
body {
  height: 100%;
  overflow-y: auto;
}
img,
picture {
  width: 100%;  /* Works better when inside a div */
}

/* ==================== */


:root {
  --light-theme-bg: #fff;
  --light-theme-bg-alt: #f1f1f1;
  --dark-theme-bg: #242424;
  --dark-theme-bg-alt: #404040;
  --light-theme-text: var(--dark-theme-bg);
  --dark-theme-text: var(--light-theme-bg);
  --light-theme-text-alt: #bababa;
  --dark-theme-text-alt: var(--dark-theme-bg-alt);
}

