@import "/src/App.scss";

@mixin primary-btn {
  color: var(--dark-theme-text);
  background-color: transparent;
  border: 1px solid var(--dark-theme-text);

 #light & {
    color: var(--light-theme-text);
  background-color: transparent;
  border: 1px solid var(--light-theme-text);
  }
}
@mixin inverted-btn {
  color: var(--light-theme-text);
  background-color: var(--light-theme-bg); 

  #light & {
    color: var(--dark-theme-text);
    background-color: var(--dark-theme-bg); 
  }
}

.btn {
    display: inline-block;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 4px;
  padding: 1rem 2rem;
  border: none;
  transition: all 0.2s ease-in-out;

  &.btn-primary {
    @include primary-btn;

    &:hover {
      @include inverted-btn;
    }
  }
  &.btn-inverted {
    @include inverted-btn;

    &:hover {
      @include primary-btn;
    }
    }

}

